
.navigation-bar {
display: flex;
justify-content: center;
background-color: lightgrey;
}

.navigation-container {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  //margin-bottom: 25px;
  background-color: lightgrey;
  max-width: 1000px;

  .logo-container {
    display:flex;
    align-items: center;
    height: 100%;
    width: 400px;
    padding: 5px;
  }

  .nav-links-container {
    width: 60%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
