.category-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;

  .category-cards-container {
    max-width: 1024px;

    .title-container {
      margin-top: 2rem;
      display: flex;
      justify-content: center;
      margin-bottom: 1rem;
      cursor: pointer;

      @media (max-width: 750px) {
        .title {
          font-size: 1.5rem;
        }
      }
    }

    .preview {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 1rem;
    }
  }
}
