.category-preview-container {
  max-width: 1024px;
  //margin-bottom: 3rem;

  .category-preview-title-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
    //align-items: center;
    margin-bottom: 1rem;
    
    @media (max-width: 750px) {
      .title {
        font-size: 1.5rem;
      }
    }

    cursor: pointer;
  }

  .preview {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
  }
}
