.directory-page-container {
  display: flex;
  justify-content: center;

  .directory-container {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    //align-items: center;
    //flex-wrap: wrap;
    //justify-content: space-between;
    //background-color: brown
  }
}
